
ResearchProject-backend/.vs/

ResearchProject-backend/obj/

ProductServices/obj/

CartServices/obj/

OrderServices/obj/

ProductServices/bin/

CartServices/bin/

IdentityServices/bin/

IdentityServices/obj/

OrderServices/bin/
